@import "./styles/theme.scss";
/* Arrows */
.swiper-button-prev{
  margin-left: 10px !important
}

.swiper-button-next {
  margin-right: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  width: 18px !important;
  display: flex !important;
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
/* Pagination bullets */
.swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 0.6;
  width: 36px !important;
  height: 6px !important;   /* thinner = cleaner */
  border-radius: 2px !important; /* rectangle */
  margin: 0 6px !important;
}


.swiper-pagination-bullet-active {
  opacity: 1;
}



/* Hide scrollbar but keep scroll */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}



@keyframes popupIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.92);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-popupIn {
  animation: popupIn 260ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}



::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #71c704;
    border: 1px solid #71c704;
    border-radius: 50px !important;
}
::-webkit-scrollbar-track {
    background: #333;
}